<html>
<head>
  <title>Curriculum Vitae</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href={{url_for('static', filename='styles_cv.css')}}>
</head>

<body>
  <div class= "container"> 
    <div class= "row-1">
      <div class="col-1">
        <img src={{url_for('static', filename='profe.png')}}>
      </div>
      <div class= "col-2">
          <div class= "txt1">{{nombre}} {{apellidos}}</div>
          <div class= "txt2">{{ocupacion}}</div>
      </div>
    </div>
    <div class= "row-2">
      <div class="col-1">
        
        <h3 class="card-tittle"><b>SOBRE MÍ</b></h3>
        <p>Fecha de nacimiento: {{fecha_nacimiento}}</p>
        <p>Teléfono: {{telefono}}</p>
        <p>Correo: {{correo}}</p>
        <p>Nacionalidad: {{nacionalidad}}</p>

        <h3 class="card-tittle"><b>LENGUAJES DE PROGRAMACIÓN</b></h3>
        <p>
          {% for lenguaje in lenguajes_programacion %}
            <ul>
              <li>{{lenguaje}}</li>
            </ul>
          {% endfor %}
        </p>
      
        <h3 class= "card-tittle"><b>IDIOMAS</b></h3>
          {% if name_language1%}
            <p>{{name_language1}}: {{value_language1}}</p>
          {% endif %}
          {% if name_language2 %}
            <p>{{name_language2}}: {{value_language2}}</p>
          {% endif %}
          {% if name_language3 %}
            <p>{{name_language3}}: {{value_language3}}</p>
          {% endif %}
          {% if name_language4 %}
            <p>{{name_language4}}: {{value_language4}}</p>
          {% endif %}
          {% if name_language5 %}
            <p>{{name_language5}}: {{value_language5}}</p>
          {% endif %}

        <h3 class= "card-tittle"><b>APTITUDES</b></h3>
          <ul>
            {% if aptitude1%}
              <li>{{aptitude1}}</li>
            {% endif %}
            {% if aptitude2%}
              <li>{{aptitude2}}</li>
            {% endif %}
            {% if aptitude3%}
              <li>{{aptitude3}}</li>
            {% endif %}
            {% if aptitude4%}
              <li>{{aptitude4}}</li>
            {% endif %}
            {% if aptitude5%}
              <li>{{aptitude5}}</li>
            {% endif %}
          </ul>

        <h3 class= "card-tittle"><b>HABILIDADES</b></h3>
        <ul>
          {% if hab1 %}
            <li>{{hab1}}</li>
          {% endif %}
          {% if hab2 %}
            <li>{{hab2}}</li>
          {% endif %}
          {% if hab3 %}
            <li>{{hab3}}</li>
          {% endif %}
          {% if hab4 %}
            <li>{{hab4}}</li>
          {% endif %}
          {% if hab5 %}
            <li>{{hab5}}</li>
          {% endif %}
          {% if hab6 %}
            <li>{{hab6}}</li>
          {% endif %}
          {% if hab7 %}
            <li>{{hab7}}</li>
          {% endif %}
          {% if hab8 %}
            <li>{{hab8}}</li>
          {% endif %}
          {% if hab9 %}
            <li>{{hab9}}</li>
          {% endif %}
          {% if hab10 %}
            <li>{{hab10}}</li>
          {% endif %}
        </ul>

      </div>

      <div class= "col-2">
        <h3 class= "card-tittle"><b>PERFIL</b></h3>
        <p>{{perfil}}</p>

        <h3 class= "card-tittle"><b>EXPERIENCIA LABORAL</b></h3>
          {% if empleo1 %}
            <h4 class="card-subtittle">{{empleo1}}</h4>
            <h5><b>{{eciudad1}}, </b><div class="txtGray">{{empresa1}} | {{eaño_inicio1}}-{{eaño_fin1}}</div></h5>
            {{descripcion1}}
          {% endif %}

          {% if empleo2 %}
            <h4 class="card-subtittle">{{empleo1}}</h4>
            <h5><b>{{eciudad2}}, </b><div class="txtGray">{{empresa2}} | {{eaño_inicio2}}-{{eaño_fin2}}</div></h5>
            {{descripcion2}}
          {% endif %}

          {% if empleo3 %}
            <h4 class="card-subtittle">{{empleo3}}</h4>
            <h5><b>{{eciudad3}}, </b><div class="txtGray">{{empresa3}} | {{eaño_inicio3}}-{{eaño_fin3}}</div></h5>
            {{descripcion3}}
          {% endif %}

          {% if empleo4 %}
            <h4 class="card-subtittle">{{empleo4}}</h4>
            <h5><b>{{eciudad4}}, </b><div class="txtGray">{{empresa4}} | {{eño_inicio4}}-{{eaño_fin4}}</div></h5>
            {{descripcion4}}
          {% endif %}
          {% if empleo5 %}
            <h4 class="card-subtittle">{{empleo5}}</h4>
            <h5><b>{{eciudad5}}, </b><div class="txtGray">{{empresa5}} | {{eaño_inicio5}}-{{eaño_fin5}}</div></h5>
            {{descripcion5}}
          {% endif %}
        
        <h3 class= "card-tittle"><b>FORMACION</b></h3>
          {% if universidad1 %}
            <div>
            <h4 class="card-subtittle">{{grado1}}</h4>
            <h5><b>{{universidad1}}, </b><div class="txtGray">{{fciudad1}} | {{faño_inicio1}}-{{faño_fin1}}</div></h5>
            </div>
          {% endif %}
          {% if universidad2 %}
            <div>
            <h4 class="card-subtittle">{{grado2}}</h4>
            <h5><b>{{universidad2}}, </b><div class="txtGray">{{fciudad2}} | {{faño_inicio2}}-{{faño_fin2}}</div></h5>
            </div>
          {% endif %}
          {% if universidad3 %}
            <div>
            <h4 class="card-subtittle">{{grado3}}</h4>
            <h5><b>{{universidad3}}, </b><div class="txtGray">{{fciudad3}} | {{faño_inicio3}}-{{faño_fin3}}</div></h5>
            </div>
          {% endif %}
     
    </div>
  </div>
</body>

</html>
