<html>
<head>
  <title>Curriculum Vitae</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href={{url_for('static', filename='styles_cv.css')}}>
</head>

<body>
  <div class= "container"> 
    <div class= "row-1">
      <div class="col-1">
        <img src={{url_for('static', filename='profe.png')}}>
      </div>
      <div class= "col-2">
          <div class= "txt1">{{nombre}} {{apellidos}}</div>
          <div class= "txt2">{{ocupacion}}</div>
      </div>
    </div>
    <div class= "row-2">
      <div class="col-1">
        
        <h3 class="card-tittle"><b>SOBRE MÍ</b></h3>
        <p>Fecha de nacimiento: {{fecha_nacimiento}}</p>
        <p>Teléfono: {{telefono}}</p>
        <p>Correo: {{correo}}</p>
        <p>Nacionalidad: {{nacionalidad}}</p>

        <h3 class="card-tittle"><b>LENGUAJES DE PROGRAMACIÓN</b></h3>
        <p>
          {% for lenguaje in lenguajes_programacion %}
            <ul>
              <li>{{lenguaje}}</li>
            </ul>
          {% endfor %}
        </p>
      
        <h3 class= "card-tittle"><b>IDIOMAS</b></h3>
        <p>Español: Nativo</p>
        <p>Inglés: {{nivel_ingles}}</p>
        <p>Francés: Intermedio (B2)</p>

        <h3 class= "card-tittle"><b>APTITUDES</b></h3>
        <ul>
          <li>{{aptitudes}}</li>
        </ul>

        <h3 class= "card-tittle"><b>HABILIDADES</b></h3>
        <ul>
          {% if hab1 %}
            <li>{{hab1}}</li>
          {% endif %}
          {% if hab2 %}
            <li>{{hab2}}</li>
          {% endif %}
          {% if hab3 %}
            <li>{{hab3}}</li>
          {% endif %}
          {% if hab4 %}
            <li>{{hab4}}</li>
          {% endif %}
        </ul>

      </div>

      <div class= "col-2">
        <h3 class= "card-tittle"><b>PERFIL</b></h3>
        <p>{{perfil}}</p>
        <h3 class= "card-tittle"><b>EXPERIENCIA LABORAL</b></h3>

        <h4 class="card-subtittle">Trabajador Social</h4>
        <h5><b>México DF, </b><div class="txtGray">| 2022-actualmente</div></h5>
        <ul> display: inline-block
          <li>Coordinador y mediador entre los equipos de ayuda 
              psicológica a jóvenes y niños en exclusión social</li>
          <li>Velar por la salud mental del equipo y de miembros
              involucrados en proyectos</li>
          <li>Mepeo de necesidades estratégicas y lógicas para 
              las diferentes áreas.</li>
          <li>Monitor de ejercicios físicos para adolescentes.</li>
          <li>Programar diferentes actividades extracurriculares
              en los involucrados.</li>
        </ul>

        <h4 class="card-subtittle">Trabajador Social</h4>
        <h5><b>México DF, </b><div class="txtGray">| 2020-2022</div></h5>
        <ul>
          <li>Funciones para seguimientos de casos para jóvenes con
              problemas de adicciones</li>
          <li>Capacitaciones e integración vinculadas a medidas pre
              ventivas</li>
          <li>Recopilación de evidencias para auditorías y programas
              sociales.</li>
        </ul>

        <h4 class="card-subtittle">Trabajador Social(Prácticas)</h4>
        <h5><b>Zaragoza, España</b><div class="txtGray">| 2019-2020</h5>
        <ul>
          <li>Profesor de lengua española e inglesa para jovenes mig
              rantes</li>
          <li>Monitor de actividades ecológicas con adolescentes</li>
          <li>Coordinador de áreas deportivas</li>
        </ul>

        <h3 class= "card-tittle"><b>FORMACION</b></h3>
        <h4 class="card-subtittle"><b>Grado de Trabajo Social</b></h4>
        <h5>ESMA, Madrid <div class="txtGray">| 2012-2015</div></h5>
        <h4 class="card-subtittle"><b>Licenciatura Profesional</b></h4>
        <h5>Universidad de la Frontera, México DF<div class="txtGray">
        | 2011-2012</div></h5>
      </div>
     
      
    </div>
  </div>
</body>

</html>
