<html>
<head>
  <title>Mi Primera Página</title>
  <meta charset=”utf-8”/>
  <link rel="stylesheet" href={{url_for('static', filename='styles_index.css')}}>
</head>
<body>
  <h1>Formulario</h1>
  <form action= "{{url_for('create_cv')}}" method= "post">
    <div>
      <label>Nombre:</label>
      <input type="text" name="name">
    </div>
     <div>
       <label>Apellidos:</label>
       <input type="text" name="last_name">
     </div>
     <div>
       <label>Fecha de Nacimiento</label>
       <input type="date" name="date_birth">
     </div>
     <div>
       <label>Ocupación:</label>
       <input type="text" name="ocupation">
     </div>
     <div>
       <label>Teléfono:</label>
       <input type="text" name="phone">
     </div>
     <div>
       <label>Email:</label>
       <input type="text" name="email">
     </div>
     <div>
       <label>Nacionalidad:</label>
        <select name="nationality">
          <option value="Peru">Peru</option>
          <option value="Argentina">Argentina</option>
          <option value="Brazil">Brazil</option>
          <option value="Chile">Chile</option>
          <option value="Colombia">Colombia</option>
          <option value="Ecuador">Ecuador</option>
          <option value="Bolivia">Bolivia</option>
        </select>
     </div>
     <div>
        <label>Nivel de Inglés:</label>
          <input type="radio" name="english_level" value="Basico">
          <label>Básico</label>
          <input type="radio" name="english_level" value="Intermedio">
          <label>Intermedio</label>
          <input type="radio" name="english_level" value="Avanzado">
          <label>Avanzado</label>
          <input type="radio" name="english_level" value="Fluido">
          <label>Fluido</label>
      </div>
      <div>
        <label>Lenguajes de Programación:</label>
        <select name="programming_lenguages" multiple>
          <option value="C/C++">C/C++</option>
          <option value="JavaScript">JavaScript</option>
          <option value="Java">Java</option>
          <option value="C#">C#</option>
          <option value="Python">Python</option>
          <option value="PHP">PHP</option>
          <option value="R">R</option>
        </select>
      </div>
      <div>
        <label>Aptitudes:</label>
          <input list= "aptitudes" name="aptitudes">
          <datalist id= "aptitudes">
            <option value="Inteligencia emocional">
            <option value="Espiritu critico">
            <option value="Trabajo en equipo">
            <option value="Capacidad analitica">
            <option value="Habilidades fisicas">
          </datalist>
      </div>
      <div>
        <label>Habilidades:</label><br>
            <input type="checkbox" name="skill1" value="Ciberseguridad">
            <label >Ciberseguridad</label><br>
            <input type="checkbox" name="skill2" value="Diseño de bases de datos">
            <label >Diseño de bases de datos</label><br>
            <input type="checkbox" name="skill3" value="Debugging">
            <label >Debugging</label><br>
            <input type="checkbox" name="skill4" value="Programación back-end">
            <label>Programación back-end</label>
      </div>
      <div>
        <label>Perfil:</label>
          <textarea name="profile">Trabajador Social con 4 años en proyectos colectivos.
            Mi objetivo es lograr que los jóvenes obtengan acceso
            a la educación superior mediante logros deportivos</textarea>
      </div>
      <div>
      <button>Submit</button>
      </div>
  </form>
</body>
</html>